
* {
    box-sizing: border-box;
}

nav {
    font-size: 100%;
    font-family: "Times New Roman", Tahoma;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
}


nav p {
    display: inline;
    float: right;
    margin-right: 5%;

}

body {
    background-color: rgb(89, 89, 179);
}

main {
    margin: 5% 4%;
    padding-right: 8%;
    padding-bottom: 8%;
    padding-left: 8%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, "Times New Roman", Tahoma;
    color: rgb(89, 89, 179);
}



main header {
    padding-top: 8%;
    font-family: Arial, "Times New Roman", Tahoma;
    padding-bottom: 4%;
    font-size: 300%;
    color: rgb(89, 89, 179);
}

.blog {
    color: rgb(0, 0, 0);
    font-size: 130%;
    font-family: "Times New Roman", Tahoma;
    margin: 1%;
    max-width: 100%
    max-height: 100%;
    width: 30%;
    display: inline-block;
    border: thin dotted gray;
}

.image {
    max-width: 100%
    max-height: 100%;
    height: 100%;
    width: 100%;
}

.blog h6 {
    color: rgb(92, 92, 92);
    font-size: 50%;
    font-style: italic;
}

footer {
    font-size: 100%;
    font-family: "Times New Roman", Tahoma;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 10%;
    
}


footer p {
    display: inline;
    float: left;
    margin-right: 5%;
}